name: Build images

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md

jobs:
  pis:
    name: SD card images for pis
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        derivation: 
        - packages.aarch64-linux.cwystaws-raspi
        - packages.aarch64-linux.cwystaws-dormpi

    steps:
    - name: Cancel all previous runs
      uses: pierreraffa/cancel-previous-runs-action@1.11
      with:
        workflow_names: '*'

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Write secrets file & decrypt
      run: |
        sudo apt-get install -y git-crypt 
        echo ${{ secrets.REPO_SECRETS_KEY }} | base64 -di | zcat > /tmp/repo-key
        git-crypt unlock /tmp/repo-key

    - name: Connect to Tailscale
      uses: tailscale/github-action@v4
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
        oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
        tags: tag:ci

    - name: Install Nix
      uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-25.05
        extra_nix_config: |
          substituters = https://devenv.cachix.org https://sanzenvim.cachix.org https://nix-community.cachix.org https://nixpkgs-python.cachix.org http://cache.crys https://cache.nixos.org/
          trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= devenv.cachix.org-1:w1cLUi8dv3hnoSPGAuibQv+f9TZLr6cv/Hm9XgU50cw= sanzenvim.cachix.org-1:zNf9OhUUfJ/NM55vbjx9fSM6O/Q3L6JDoFwU1VCEohc= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= nixpkgs-python.cachix.org-1:hxjI7pFxTyuTHn2NkvWCrAUcNZLNS3ZAvfYNuYifcEU= cwystaws-raspi:2xuwbE44tVXZdoV8OJYaTXJT1PoKF3nD0fc9dDix41s=
          post-build-hook = /tmp/post-build-hook.sh

    - name: Write post build hook
      run: |
          cat > /tmp/post-build-hook.sh << EOF
          set -eu
          set -f

          if [ -n "$OUT_PATHS" ]; then
            echo "Uploading paths" $OUT_PATHS
            nix copy --to "http://cache.crys" $OUT_PATHS
          fi
          EOF

          sed -i "s+nix+`which nix`+g" /tmp/post-build-hook.sh
          chmod +x /tmp/post-build-hook.sh 

    - name: "Build Image ${{ matrix.derivation }}"
      run: |
        nix build --no-link .#${{ matrix.derivation }} -L 2>&1

